<section class="grow">
  <div class="grow__inner container">
    <div class="grow__content">
      <h1 class="grow__title">
        Grow your <br />
        subscription <br />
        business
      </h1>
      <p class="grow__description">
        Outcome-centered products that reduce churn, <br />
        optimize pricing, and grow your subscription <br />
        business end-to-end.
      </p>
      <div class="grow__btns-wrapper">
        <a class="grow__btn" href="#">Get Started</a>
        <a class="grow__btn-down" href="#">
          <img src="images/down-icon.svg" alt=""
        /></a>
      </div>
    </div>
    <picture class="grow__img">
      <img src="images/grow-img.jpg" alt="" />
    </picture>
  </div>
</section>
