<section class="partners">
  <ul class="partners__logo container">
    <li class="partners__logo-list">
      <img class="partners__img" src="images/logo-p1.svg" alt="" />
    </li>
    <li class="partners__logo-list">
      <img class="partners__img" src="images/logo-p2.svg" alt="" />
    </li>
    <li class="partners__logo-list">
      <img class="partners__img" src="images/logo-p3.svg" alt="" />
    </li>
    <li class="partners__logo-list">
      <img class="partners__img" src="images/logo-p4.svg" alt="" />
    </li>
    <li class="partners__logo-list">
      <img class="partners__img" src="images/logo-p5.svg" alt="" />
    </li>
  </ul>
</section>
