<section class="price container">
    <div class="price__cell">
      <p class="price__title">Starter</p>
      <h2 class="price__cost">Free</h2>
      <p class="price__condition">1 Website</p>
      <p class="price__condition">5 GB Hosting</p>
      <p class="price__condition">Limited Suppo1rd</p>
      <a class="price__btn" href="">Get Started</a>
    </div>
    <div class="price__cell price__cell_orange">
      <p class="price__title" style="color: #fff">Premium</p>
      <h2 class="price__cost" style="color: #fff">$29/month</h2>
      <p class="price__condition" style="color: #fff">10 Website</p>
      <p class="price__condition" style="color: #fff">15 GB Hosting</p>
      <p class="price__condition" style="color: #fff">Premium Support</p>
      <a
        class="price__btn"
        href=""
        style="background: #9f3919; border: 0px; color: #fff"
        >Get Started</a
      >
    </div>
    <div class="price__cell">
      <p class="price__title">Enterprise</p>
      <h2 class="price__cost">$49/month</h2>
      <p class="price__condition">Unlimited Website</p>
      <p class="price__condition">50 GB Hosting</p>
      <p class="price__condition">Premium Suppord</p>
      <a class="price__btn" href="">Get Started</a>
    </div>
  </section>
</body>
<script src="js/main.min.js"></script>
</html>